@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

:root{
    font-family: 'Jaldi', sans-serif;
    font-size: 25px;
}

*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#grafico{
    position: relative;
    margin-left: 500px;
    padding: 50px 100px;
}

#grafico:has(canvas:hover) > p{
    opacity: 1;
    scale: 1;
    transition: opacity, scale 0.3s;
}
#grafico canvas{
    border: 3px solid black;
    border-radius: 10px;
    aspect-ratio: 1;
}
#grafico p{
    position: absolute;
    top: 50%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    pointer-events: none;
    opacity: 0;
    scale: 0.5;
    transition: 0.3s;
}
section{
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
#opcoes{
    position: fixed;
    width: 500px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    border: 1px solid black;
    padding: 15px;
    min-height: 100vh;
    height: fit-content;
    font-size: 1rem;
}
#opcoes > h1{
    width: 100%;
    text-align: center;
}

.funcao{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.funcao p{
    font-size: 1.2rem;
    font-weight: 100;
    color: rgb(82, 82, 82);
    word-break: break-all;
}
.funcao input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(82, 82, 82);
    font-size: 1rem;
    font-weight: 100;
    color: rgb(82, 82, 82);
    

}

#options{
    padding: 15px;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#options > .tipo{
    display: flex;
    align-items: center;
    gap: 15px;
}
#options > .tipo > div{
    display: flex;
    gap: 3px;
    padding: 3px 8px;
    border-radius: 5px;
}
#options > .tipo > div.active{
    background-color: rgb(181, 249, 181);
}

#options .funcao p{
    font-size: 1rem !important;
}
#options .funcao input{
    font-size: 0.8rem !important;
}

#submit input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(82, 82, 82);
    font-size: 1rem;
    font-weight: 100;
    color: rgb(82, 82, 82);
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

.funcao h2{
    font-size: 0.8rem;
    font-weight: 100;
    color: red;
}

#submit input:hover{
    background-color: rgb(82, 82, 82);
    color: white;
}

#numeroreal{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
#numeroreal #checkbox{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
#numeroreal #checkbox.active{
    background-color: rgb(181, 249, 181);
}

/* guppy */

.guppy_active {
    border: 2px solid red;
    padding: 10px;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    cursor: text;
    background-color: #ffffff;
    color:#000;
    position:relative;
}
.katex .cursor {
    border-left: 1px solid black !important;
    width: 0px !important;
    margin-right: 0 !important;
    margin-left: -1px;
    min-height: 1ex;
}

.guppy_inactive {
    border: 2px solid black;
    padding: 10px;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    cursor: text;
    background-color: #fafafa;
    color:#000;
    position:relative;
}

.guppy_text_current {
    border: 1px solid #ccc;
}

.guppy_active .main_cursor {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

.guppy_active .guppy_buttons {
    display: block;
}

.guppy_inactive .guppy_buttons {
    display: none;
}


.guppy_buttons div.settings{
    background:url('./icons/settings.png') center no-repeat;
}
.guppy_buttons div.keyboard{
    background:url('./icons/keyboard.png') center no-repeat;
}
.guppy_buttons div.help{
    background:url('./icons/help.png') center no-repeat;
}
.guppy_buttons div.symbols{
    background:url('./icons/symbols.png') center no-repeat;
}

.guppy_buttons {
    position:absolute;
    bottom:0;
    right:0;
    padding:0 3px 3px 0;
    width:100%;
    text-align:right;
}

.guppy_buttons div.guppy-button{
    background-size: 12px 12px;
    cursor:pointer;
    height:16px;
    width:16px;
    padding:3px;
    opacity: 0.5;
    display: inline-block;
}

.guppy_buttons img:hover{
    opacity: 1;
}

@keyframes blink-animation {
  to { visibility: hidden; }
}

@-webkit-keyframes blink-animation {
  to { visibility: hidden; }
}

