@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    font-family: "Josefin Sans", sans-serif;
    --font-medium: 22px;
    --font-small: 18px;
    --border-large-size: 3px;

    --border-radius:  15px;
    --padding-small:  10px;
    --padding-medium:  15px;
    --padding-large: 30px;

    --gap: 50px;
    --mini-gap: 20px;

    --arrow-size: 20px;
    --arrow-medium-size: 25px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --navbar-size: 120px;
}

p {
    font-size: var(--font-medium);
}

h2 {
    font-size: 30px;
}

h4 {
    font-size: 18px;
    font-weight: 400;
}

input:focus {
    background-color: rgba(0, 0, 0, 0.025);
}
body{
    display: flex;
}

.btn {
    width: 100%;
    outline: none;
    border: none;
    background-color: #333333;
    border: var(--border-large-size) solid #333333;
    border-radius: var(--border-radius);
    font-size: var(--font-medium);
    padding: var(--padding-small);
    color: white;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    cursor: pointer;

    position: relative;
    overflow: hidden;

    &>p {
        transition: 0.5s;
    }

    &>img {
        width: var(--arrow-size);
        position: absolute;
        right: 0;
        transform: translateX(100%);
        transition: 0.5s;
    }

}

.btn.secondary {
    border: var(--border-large-size) solid #333333;
    background-color: white;
    color: #333333;

}

.btn:hover {
    &>p {
        transform: translateX(calc(var(--arrow-size) * -2));
        transition: 0.5s;
    }

    & img {
        transform: translateX(-100%);
        transition: 0.5s;
    }
}

section#navbar.hidded {
    transform: translateY(calc(-100% + calc(var(--padding-large) + var(--arrow-size))));
    opacity: 0;
    transition: 1s;

    & img {
        rotate: 180deg;
    }
}

section#navbar.hidded:hover {
    opacity: 1;
    transition: 1s;
}

section#navbar {
    transition: 1s;
    position: fixed;
    min-width: 100dvw;
    background-color: #fff;
    box-shadow: 0px 0px  var(--padding-small) 0px #000000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--padding-small);

    min-height: var(--navbar-size);
    z-index: 2;

    & .content {
        display: flex;
        width: 100%;

        & #guppy1 {
            flex: 1;
        }

        & img {
            rotate: -90deg;
            width: var(--arrow-size);
            transition: 0.5s;
        }
    }
}

section#domainColoring.hidded {
    width: 100dvw;
    margin-left: 0;
    transition: 0.5s;
}

section#domainColoring {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100dvh;
    background-color: transparent;
    transition: 0.5s;
    flex: 1;
}

section#navbar #guppy1 {
    width: calc(100% - var(--arrow-size));
    min-height: 60px;
    border: 1px solid #000;
    margin: var(--padding-small);
    font-size: var(--font-medium);
}

.guppy_help {
    z-index: 2;
}

section#navbar .navbar-arrow {
    display: flex;
    align-items: center;
    flex: 1;
    margin-bottom: var(--padding-small);
    cursor: pointer;

    & img {
        width: var(--arrow-medium-size);
        transition: 0.2s;
        width: calc(var(--padding-medium)*1.5);
    }
}

section#lateral.hidded {
    transform: translateX(calc(-100% + var(--padding-large)));
}

section#lateral {
    background-color: #fff;
    position: relative;
    left: 0;
    height: 100dvh;
    width: 40vw;
    overflow-y: scroll;
    display: flex;
    z-index: 1;
    transition: transform 1s;

    & *{
        user-select: none;
    }

    &.nav-hidded > .lateral-itens {
        margin-top: var(--padding-large) !important;
    }

    & .lateral-itens {
        margin-top: calc(var(--navbar-size) + var(--padding-large)) !important;
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        width: 100%;
        margin: var(--padding-large);
        transition: 1s;
    }
    & > #changeSize{
        position: sticky;
        height: 100%;
        background-color: black;
        width: var(--border-large-size);
        cursor: ew-resize;
        right: 0;
        top: 0;
    }
}

section#lateral #lateral-desenhar {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--mini-gap);

}

section#lateral #lateral-desenhar .lateral-desenhar-botao h4 {
    margin-top: 5px;
    font-weight: 400;
}

section#lateral .lateral-div {
    padding: var(--padding-large);
    border: 2px solid #333333;
    border-radius: var(--padding-large);
    display: flex;
    flex-direction: column;
    gap: var(--mini-gap);
}

section#lateral .lateral-div .lateral-div-header {
    display: flex;

    & h2 {
        flex: 1;
        font-size: 30px;
    }

    & img {
        transition: 0.2s;
        width: calc(var(--padding-medium)*1.5);
    }
}

section#lateral .lateral-div .lateral-div-content {
    display: none;
    width: 100%;
    align-items: center;
    gap: 20px;

    & .input-dropdown {
        position: relative;
        border-radius: 5px;
        border: 1px solid #333333;
        margin-left: 20px;
        width: 100%;
        background-color: white;

        & .input-dropdown-fixed {
            display: flex;

            &>p {
                flex: 1;
                margin:  var(--padding-medium);
            }

            &>div {
                display: flex;
                margin:  var(--padding-medium);
                align-items: center;
                gap:  var(--padding-small);
            }

            &>input {
                outline: none;
                border-radius: 5px;
                padding:  var(--padding-small);
                font-size: var(--font-small);
                border: none;
                flex: 1;
                width: 10%;
            }

            & img {
                transition: 0.2s;
                cursor: pointer;
                width: var(--padding-medium);
            }

        }

        & .input-dropdown-options {
            border-top: 1px solid #333333;
            width: 100%;
            background-color: white;
            border-bottom-left-radius:  var(--padding-medium);
            border-bottom-right-radius:  var(--padding-medium);
            z-index: 0;
            display: none;
            flex-direction: column;

            & h4 {
                padding:  var(--padding-small);
                transition: 0.2s;
            }

            & h4:hover {
                background-color: rgba(0, 0, 0, 0.025);
                cursor: pointer;
                transition: 0.2s;
            }
        }
    }

    & .input-dropdown.active {
        & .input-dropdown-options {
            display: flex;
        }

        & .input-dropdown-fixed img {
            rotate: 180deg;
            transition: 0.2s;
        }
    }

    & .input-interval {
        display: flex;
        width: 100%;
        max-width: 100%;
        border: 1px solid #333333;
        border-radius: 5px;

        &>input[type='number'] {
            flex: 1;
            padding:  var(--padding-medium);
            border-radius: 5px;
            outline: none;
            border: none;
            font-size: var(--font-small);
            width: 100px;
        }

        &>p {
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 1px solid #333333;
            padding: 0px 5px;
            border-right: 1px solid #333333;
        }
    }

    & .input-checkbox {
        height: 100%;
        border: 1px solid #333333;
        border-radius: 5px;
        aspect-ratio: 1;
        margin-left:  var(--padding-medium);
        cursor: pointer;
        transition: 0.2s;
    }

    & .input-checkbox.active {
        background-color: #333333;
        transition: 0.2s;
    }

    & .input-number {
        flex: 1;

        & input {
            width: 100%;
            padding:  var(--padding-medium);
            border-radius: 5px;
            border: 1px solid #333333;
            font-size: var(--font-small);
        }
    }
}

section#lateral .lateral-div.active {
    & .lateral-div-content {
        display: flex;
    }

    & .lateral-div-header img {
        rotate: 180deg;
        transition: 0.2s;
        width: calc(var(--padding-medium)*1.5);
    }
}



#grafico {
    position: relative;

    /*para o JS compreender */
    transition: 0.3s;
}

#grafico:has(canvas:hover)>p {
    opacity: 1;
    scale: 1;
    transition: opacity, scale 0.3s;
}

#grafico {
    display: none;
}

.eixosCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#domainColorCanvas {
    border: 3px solid white;
}

#glCanvas {
    border: 3px solid black;
}

#grafico canvas {
    border-radius:  var(--padding-small);
    aspect-ratio: 1;

}
#glCanvas {
    cursor:grab;
}
#glCanvas:active {
    cursor:grabbing
}

#grafico.active {
    display: block;
}

#grafico p {
    position: absolute;
    top: 50%;
    font-family: 'KaTeX_Math';
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    pointer-events: none;
    opacity: 0;
    scale: 0.5;
    transition: 0.3s;
    white-space: nowrap;
}

#graficos-complexos {
    width: 100%;
    height: calc(100% - var(--navbar-size));
    margin-top: var(--navbar-size);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    position: relative;
}
#graficos-complexos.full-screen{
    margin-top: 0;
    overflow: hidden;
    height: 100%;
}

#lateral-animacao .lateral-div-content.disabled {
    opacity: 50%;
    pointer-events: none;
}

/* Estilos padrão (desktop) */
h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

/* Telas grandes (largura entre 1200px e 1599px) */
@media (min-width: 1200px) and (max-width: 1599px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
    }
}

/* Telas médias (largura entre 768px e 1199px) */
@media (min-width: 768px) and (max-width: 1199px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 17px;
    }

    :root{
        --padding-small: 5px;
        --padding-medium: 10px;
        --padding-large: 20px;
    }

    .lateral-div-content{
        flex-direction: column;
        align-items: flex-start !important;
        & .input-dropdown{
            margin-left: 0 !important;
        }
    }
}